<template>
  <div :class="cardClass">
    <div :class="cardHeaderClass" data-toggle="collapse" :data-target="'#'+collapseId">
      {{ employee.title }}
    </div>
    <div class="card-body collapse" :id="collapseId">
      <div class="row mb-1" v-for="(entry, key) in pieces" :key="'EmployeePlan_Item_'+key">
        <div class="col">
          {{ entry.piece.name }}
        </div>
        <div class="col-4">
          <input class="form-control" :value="entry.count" readonly>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Startup from "../lib/StartupCompany";

export default {
  name: 'EmployeePlan',
  props: ["employee", "plan"],
  computed: {
    collapseId() {
      return "collapse_" + this.$vnode.key;
    },
    cardClass() {
      return [
              "card",
              "mb-3",
              "border-"+this.employee.color,
      ];
    },
    cardHeaderClass() {
      return [
              "card-header",
              "text-white",
              "clickable",
              "bg-"+this.employee.color,
              "border-"+this.employee.color,
      ]
    },
    pieces() {
      let list = [];
      for (let key in Startup.Pieces) {
        let piece = Startup.Pieces[key];
        if (this.employee === piece.employee) {
          let count = 0;
          this.plan.forEach((planCount, planPiece) => {
            if (planPiece === piece) {
              count = planCount;
            }
          });
          list.push({ piece, count });
        }
      }
      return list;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .card-header {
    font-weight: bold;
  }
</style>
