<template>
  <div :class="cardClass">
    <div :class="cardHeaderClass" data-toggle="collapse" :data-target="'#'+collapseId">
      {{ employee.title }}
    </div>
    <div class="card-body collapse" :id="collapseId">
      <div class="row mb-1" v-for="(key, level) in levels" :key="'EmployeeStats_Entry_'+key">
        <div class="col">
          {{ level }}
        </div>
        <div class="col-7">
          <strong>{{ hours.get(level+"_hours") }}</strong>h
          &nbsp;<em>({{ hours.get(level+"_job_pct") }}% / {{ hours.get(level+"_all_pct") }}%)</em>
        </div>
      </div>
      <hr>
      <div class="row mb-1">
        <div class="col">
          Total
        </div>
        <div class="col-7">
          <strong>{{ hours.get("Total_hours") }}</strong>h
          &nbsp;<em>({{ hours.get("Total_pct") }}%)</em>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Startup from "../lib/StartupCompany";

export default {
  name: 'EmployeeHours',
  props: ["employee", "plan"],
  data() {
    return {
      levels: Startup.Levels
    }
  },
  computed: {
    collapseId() {
      return "collapse_" + this.$vnode.key;
    },
    cardClass() {
      return [
              "card",
              "mb-3",
              "border-"+this.employee.color,
      ];
    },
    cardHeaderClass() {
      return [
              "card-header",
              "text-white",
              "clickable",
              "bg-"+this.employee.color,
              "border-"+this.employee.color,
      ]
    },
    hours() {
      let hours = new Map();
      let jobHours = 0;
      let allHours = 0;
      this.plan.forEach((count, piece) => {
        let current = count * piece.time;
        allHours += current;
        if (piece.employee === this.employee) {
          jobHours += current;
        }
      });
      for (let level in Startup.Levels) {
        let levelHours = 0;
        this.plan.forEach((count, piece) => {
          if (piece.employee === this.employee && piece.level === Startup.Levels[level]) {
            levelHours += count * piece.time;
          }
        });
        hours.set((level + "_hours"), levelHours);
        let jobPct = Math.round(levelHours/jobHours*100);
        hours.set((level + "_job_pct"), (isNaN(jobPct) ? 0 : jobPct));
        let allPct = Math.round(levelHours/allHours*100);
        hours.set((level + "_all_pct"), (isNaN(allPct) ? 0 : allPct));
      }
      hours.set("Total_hours", jobHours);
      let allPct = Math.round(jobHours/allHours*100);
      hours.set("Total_pct", (isNaN(allPct) ? 0 : allPct));
      return hours;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .card-header {
    font-weight: bold;
  }
</style>
