<template>
  <div :class="cardClass">
    <div :class="cardHeaderClass" data-toggle="collapse" :data-target="'#'+collapseId">
      {{ employee.title }}
    </div>
    <div class="card-body collapse" :id="collapseId">
      <div class="row mb-1" v-for="(piece, key) in pieces" :key="'InputList_Input_'+key">
        <div class="col">
          {{ piece.name }}
        </div>
        <div class="col-4">
          <input class="form-control" @input="updatePiece(piece, $event.target.value)">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Startup from '../lib/StartupCompany'

export default {
  name: 'InputList',
  props: ["employee"],
  computed: {
    collapseId() {
      return "collapse_" + this.$vnode.key;
    },
    cardClass() {
      return [
              "card",
              "mb-3",
              "border-"+this.employee.color,
      ];
    },
    cardHeaderClass() {
      return [
              "card-header",
              "text-white",
              "clickable",
              "bg-"+this.employee.color,
              "border-"+this.employee.color,
      ]
    },
    pieces() {
      let list = [];
      for (let piece in Startup.Pieces) {
        if (this.employee === Startup.Pieces[piece].employee) {
          list.push(Startup.Pieces[piece]);
        }
      }
      return list;
    }
  },
  methods: {
    updatePiece(piece, count) {
      this.$emit("update-piece", { piece, count });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .card-header {
    font-weight: bold;
  }
</style>
