<template>
  <div id="app" class="container m-auto">
    <div class="row">
      <div class="col mb-3">
        <h1 class="text-center">Startup Company Planner</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="text-right float-right" @click="makePlan">Make Plan</button>
        <h4>Target</h4>
        <InputList v-for="(emp, key) in employees" :employee="emp" @update-piece="updatePiece" :key="'InputList_'+key"/>
      </div>
      <div class="col">
        <h4>Plan</h4>
        <EmployeePlan v-for="(emp, key) in employees" :employee="emp" :plan="plan" :key="'EmployeePlan_'+key"/>
      </div>
      <div class="col">
        <h4>Hours Breakdown</h4>
        <EmployeeHours v-for="(emp, key) in employees" :employee="emp" :plan="plan" :key="'EmployeeStats_'+key"/>      </div>
    </div>
  </div>
</template>

<script>
import InputList from './components/InputList.vue'
import EmployeePlan from './components/EmployeePlan.vue'
import EmployeeHours from './components/EmployeeHours.vue'

import Startup from './lib/StartupCompany'

export default {
  name: 'App',
  components: {
    InputList,
    EmployeePlan,
    EmployeeHours
  },
  data() {
    return {
      employees: Startup.Employees,
      pieces: new Map(),
      plan: new Map()
    }
  },
  methods: {
    updatePiece(e) {
      if (isNaN(e.count) || e.count < 1) {
        if (this.pieces.has(e.piece)) {
          this.pieces.delete(e.piece);
        }
      } else {
        this.pieces.set(e.piece, Number(e.count));
      }
      this.$forceUpdate();
    },
    makePlan() {
      let reqs = new Map(this.pieces);
      this.plan = Startup.CompilePlan(reqs);
      this.$forceUpdate();
    }
  }
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
